@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
ul,li{
	list-style: none;
}
html{
	font-size: 100px;
	height: 100%;
}
body{
	font: 16px/1.5 '微软雅黑',Helvetica,Tahoma,Arial,'华文细黑',sans-serif;
	color:#333;
	width:100%;
	height: 100%;
	color: #333;
	font-size: 0.16rem;
	background-color: #efefef;
}
.find{
	width:100%;
}
.find_header{
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	height: 0.6rem;
	line-height: 0.6rem;
	background-color: #f9fafd;
	z-index: 2;
}
.find_header>span:first-of-type{
	left: 0.078rem;
	background-position: left center;
	text-align: center;
	position: relative;
	top:0;
	width: 0.78rem;
	height: 0.6rem;
	background: url(../images/j1.png) no-repeat left center;
	background-size: auto 0.3rem;
	display: inline-block;
}
.find_header div{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0.78rem;
	right: 0.78rem;
	text-align: center;
	font-weight: 700;
}
.find_header form{
	background: url(../images/f1.png) no-repeat 0.08rem center; 
	background-size: auto 0.18rem;
	position: relative;
	display: block;
	margin-top: 0.11rem;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	border-radius: 0.05rem;
	font-size: 0.16rem;
	line-height: 0.18rem;
	padding-left: 0.16rem;
}
.find_header form input{
	width: 80%;
	height: 0.36rem;
	border: 0;
	outline: 0;
}
.find_header>span:last-of-type{
	position: absolute;
	color: #777;
	right: 0.078rem;
	text-align: center;
	top:0;
	width: 0.78rem;
	height: 0.6rem;
	line-height: 0.6rem;
	display: inline-block;
}

/*find_main*/
.find_main{
	background-color: #efefef;
}
.find_hot,.find_history{
	padding-top: 0.4rem;
	padding-left: 0.1rem;
}
.find_hot_title,.find_history{
	color:#888;
	font-size: 0.16rem;
	line-height: 0.20rem;
	
}	
.hot_con{
	display: flex;
	flex-wrap:wrap;
}
.hot_con a,.history_con a{
	display: inline-block;
	padding: 0.1rem 0.2rem;
	border-radius: 0.2rem;
	color: #333;
	background: #fff;
	margin:0.08rem 0.15rem;
}
.end{
	height: 0.54rem;
	line-height: 0.54rem;
	text-align: center;
	display: flex;
	margin-top: 0.5rem;
	color: #aaa;
}
.end div{
	width:80%;
	height: 100%;
	border: 1px solid #e0e0e0;
	margin: auto;
}